.bp3-overlay-backdrop {
  top: 24px;
}

.bp3-button-text {
  user-select: none;
}

.bp3-button-icon {
  user-select: none;
}

.bp3-dialog {
  border-radius: 2px;
  width: auto;
  height: auto;
  top: 0;
  margin: 0;
  padding: 0;
  margin-top: 24px;
}

.bp3-dialog-body {
  margin: 0;
}

.dialog-input {
  width: 100%;
}

div > .bp3-menu {
  max-height: 300px;
  overflow-y: auto;
  min-width: 500px;
  max-width: 500px;
  margin-left: -4;
}

/* окно диалога притянуто к заголовку */
/* нужно сделать только для MacOS */
.bp3-dialog-container {
  /* margin-top: 24px; */
  align-items: flex-start;
  justify-content: center;
}

div.bp3-transition-container.bp3-popover-appear-done.bp3-popover-enter-done {
  top: 5px !important;
}

/*иначе погруженные в tooltip формы скукоживаются*/
span.bp3-popover-target {
  display: block;
}
